<%- include('searchResults') -%>

<div class="alertBox">
    <span class="alertMsg">This movie is already on your list.</span>
    <span class="alertClosebtn" onclick="this.parentElement.style.display='none';">&times;</span>
</div>

<%- include('partials/footer') -%>
