<%- include('partials/header') -%>

<div class="indexHero">
    <div class="flex-container">
        <div class="row">
            <a href="/login"><button class="button is-medium flex-item" id="indexBtn">Login</button></a>
            <a href="/signup"><button class="button is-medium flex-item" id="indexBtn">Signup</button></a>
            <a href="/loginGuest"><button class="button is-medium flex-item" id="indexBtn">Search as guest</button></a>
        </div>
    </div>
</div>

<%- include('partials/footer') -%>
