<%- include('partials/headerWithSearch') -%>

<section class="hero is-fullheight is-dark resultsGradientBackground">
        <div class="hero-body noResults">
            <div class="centered">
                <h1>No results for</h1>
                <h2><%= searchTerm %></h2>
            </div>
        </div>

        <span class="tmdbAttr">This product uses the TMDb API but is not endorsed or certified by TMDb.</span>
      
</section>
  
<% - include('partials/footer') -%>
